.signupForm {
    display: grid;
    gap: 8px;
}

.signupForm .formControl {
    display: grid;
    gap: 5px;
}

.signupForm button {
    border: none;
    background-color: var(--secondary-color);
    color: #ffffff;
    font-weight: bold;
}

.signupForm .submitBtn {
    padding: 5px;
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.signupForm .error {
    background-color: #bb141491;
    color: #ffffff;
    font-weight: bold;
    border-radius: 10px;
    margin-left: auto;
    width: 100%;
    text-align: center;
    padding: 5px 10px;
}